<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{136,180}</string>
            </dict>
            <key>symbol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,184},{136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{136,180}</string>
            </dict>
            <key>symbol_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{139,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,180}}</string>
                <key>sourceSize</key>
                <string>{139,180}</string>
            </dict>
            <key>symbol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{136,180}</string>
            </dict>
            <key>symbol_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{139,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,180}}</string>
                <key>sourceSize</key>
                <string>{139,180}</string>
            </dict>
            <key>symbol_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{136,180}</string>
            </dict>
            <key>symbol_scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>symbol_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,184},{136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{136,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356ed36c91d4adce87796f31ca7528a3:1/1$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
