<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sakura-leaves-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{278,208}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{278,208}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>sakura-leaves-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,919},{225,192}}</string>
                <key>offset</key>
                <string>{29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{225,192}}</string>
                <key>sourceSize</key>
                <string>{283,220}</string>
            </dict>
            <key>sakura-leaves-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,288}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,288}}</string>
                <key>sourceSize</key>
                <string>{260,288}</string>
            </dict>
            <key>sakura-leaves-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,663},{243,214}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{243,214}}</string>
                <key>sourceSize</key>
                <string>{245,270}</string>
            </dict>
            <key>sakura-leaves-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,501},{244,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,242}}</string>
                <key>sourceSize</key>
                <string>{244,242}</string>
            </dict>
            <key>sakura-leaves-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{248,233}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{248,233}}</string>
                <key>sourceSize</key>
                <string>{288,233}</string>
            </dict>
            <key>sakura-leaves-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{228,222}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{228,222}}</string>
                <key>sourceSize</key>
                <string>{230,222}</string>
            </dict>
            <key>sakura-leaves-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{209,246}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,246}}</string>
                <key>sourceSize</key>
                <string>{209,252}</string>
            </dict>
            <key>sakura-leaves-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,710},{207,240}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{207,240}}</string>
                <key>sourceSize</key>
                <string>{215,246}</string>
            </dict>
            <key>sakura-leaves-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{216,241}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{216,241}}</string>
                <key>sourceSize</key>
                <string>{224,243}</string>
            </dict>
            <key>sakura-leaves-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,439},{222,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,246}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>sakura-leaves-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,465},{228,243}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{228,243}}</string>
                <key>sourceSize</key>
                <string>{228,271}</string>
            </dict>
            <key>sakura-leaves-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,239},{224,175}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{224,175}}</string>
                <key>sourceSize</key>
                <string>{272,217}</string>
            </dict>
            <key>sakura-leaves-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{235,182}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{235,182}}</string>
                <key>sourceSize</key>
                <string>{279,218}</string>
            </dict>
            <key>sakura-leaves-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{242,186}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{242,186}}</string>
                <key>sourceSize</key>
                <string>{288,230}</string>
            </dict>
            <key>sakura-leaves-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{252,265}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,265}}</string>
                <key>sourceSize</key>
                <string>{256,265}</string>
            </dict>
            <key>sakura-leaves-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,256},{247,243}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,243}}</string>
                <key>sourceSize</key>
                <string>{249,243}</string>
            </dict>
            <key>sakura-leaves-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,879},{235,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,233}}</string>
                <key>sourceSize</key>
                <string>{235,233}</string>
            </dict>
            <key>sakura-leaves-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,745},{237,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,227}}</string>
                <key>sourceSize</key>
                <string>{237,227}</string>
            </dict>
            <key>sakura-leaves-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,212},{249,225}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{249,225}}</string>
                <key>sourceSize</key>
                <string>{249,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sakura_leave.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc0f53656601a966d997d52f710566e:1/1$</string>
            <key>textureFileName</key>
            <string>sakura_leave.png</string>
        </dict>
    </dict>
</plist>
