<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>than_tai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,532},{438,262}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{438,262}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,266}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{444,266}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{438,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{438,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{438,262}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{438,262}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1580},{434,258}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{434,258}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1320},{436,258}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{436,258}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,796},{438,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{438,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,268},{438,262}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{438,262}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{438,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{438,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1058},{436,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{436,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1058},{436,258}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{436,258}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,268},{438,262}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{438,262}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{436,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{436,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,796},{438,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{438,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{438,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{438,260}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1580},{434,258}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{434,258}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>than_tai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{442,264}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{442,264}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>than_tai.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1cd7f84e3d3cf410400d005a66148a:1/1$</string>
            <key>textureFileName</key>
            <string>than_tai.png</string>
        </dict>
    </dict>
</plist>
